In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("Shrimp ABW  and feed.csv")

In [3]:
dataset

     Days  Initial stock    ABW  Survival %  Feed (%)  Feed (kg)
0       0         500000   0.01         100         8        0.4
1       1         500000   0.02         100         8        0.8
2       2         500000   0.03         100         8        1.2
3       3         500000   0.04         100         8        1.6
4       4         500000   0.05         100         8        2.0
..    ...            ...    ...         ...       ...        ...
122   122         500000  10.90         100         8      436.0
123   123         500000  11.00         100         8      440.0
124   124         500000  11.10         100         8      444.0
125   125         500000  11.20         100         8      448.0
126   126         500000  11.30         100         8      452.0

[127 rows x 6 columns]

In [4]:
dataset.columns

Index(['Days', 'Initial stock', 'ABW', 'Survival %', 'Feed (%)', 'Feed (kg)'], dtype='object')

In [5]:
independent=dataset[['Days', 'Initial stock', 'ABW', 'Survival %', 'Feed (%)']]

In [6]:
independent

     Days  Initial stock    ABW  Survival %  Feed (%)
0       0         500000   0.01         100         8
1       1         500000   0.02         100         8
2       2         500000   0.03         100         8
3       3         500000   0.04         100         8
4       4         500000   0.05         100         8
..    ...            ...    ...         ...       ...
122   122         500000  10.90         100         8
123   123         500000  11.00         100         8
124   124         500000  11.10         100         8
125   125         500000  11.20         100         8
126   126         500000  11.30         100         8

[127 rows x 5 columns]

In [7]:
dependent=dataset[['Feed (kg)']]

In [8]:
dependent

     Feed (kg)
0          0.4
1          0.8
2          1.2
3          1.6
4          2.0
..         ...
122      436.0
123      440.0
124      444.0
125      448.0
126      452.0

[127 rows x 1 columns]

In [9]:
from  sklearn.model_selection import train_test_split
X_train,X_test, y_train,y_test=train_test_split(independent,dependent, test_size=0.30, random_state=0)

In [10]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [11]:
weight=regressor.coef_
weight

array([[3.02771926e-03, 0.00000000e+00, 3.99695877e+01, 0.00000000e+00,
        0.00000000e+00]])

In [12]:
bais=regressor.intercept_
bais

array([-0.03821467])

In [13]:
y_pred = regressor.predict(X_test)

In [14]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [15]:
r_score

0.9999999952164402

In [16]:
import pickle
filename="finalized_model_Mul_linear.sav"
pickle.dump(regressor, open(filename,'wb'))

In [17]:
loaded_model=pickle.load(open("finalized_model_Mul_linear.sav",'rb'))
result=loaded_model.predict([[3,500000,0.04,100,8]])

In [18]:
result

array([[1.569652]])