In [2]:
# pandas is python library and trsnsforming the data loaded
import pandas as pd

In [3]:
# read the csv file and load the file
dateset=pd.read_csv("Salary_Data.csv")

In [5]:
# confirm the loaded dataset-preprocesing
dateset

    YearsExperience  Salary
0               1.1   39343
1               1.3   46205
2               1.5   37731
3               2.0   43525
4               2.2   39891
5               2.9   56642
6               3.0   60150
7               3.2   54445
8               3.7   57189
9               3.9   63218
10              4.0   55794
11              5.1   66029

In [6]:
#input and assign to separate column
independent=dateset[["YearsExperience"]]

In [8]:
#out put of target column separation
dependent=dateset[["Salary"]]
dependent

    Salary
0    39343
1    46205
2    37731
3    43525
4    39891
5    56642
6    60150
7    54445
8    57189
9    63218
10   55794
11   66029

In [7]:
# check the variyable
independent

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.7
9               3.9
10              4.0
11              5.1

In [10]:
# split the train and test to call, pass two variyable independent, dependent
from  sklearn.model_selection import train_test_split
X_train,X_test, y_train,y_test=train_test_split(independent,dependent, test_size=0.30, random_state=0)

In [11]:
# create the model and x train input and y train output forwarded-procedure first two line, learning process here
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [13]:
#slope for next prediction
weight=regressor.coef_
weight

array([[7810.54147465]])

In [14]:
bais=regressor.intercept_
bais

array([30651.4233871])

In [15]:
y_pred = regressor.predict(X_test)

In [16]:
#find out r2 value for good model or not (value-1 is good)
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [17]:
r_score

0.5827501455993919

In [18]:
#save the file or model for end user
import pickle
filename="finalized_model_linear.sav"

In [19]:
pickle.dump(regressor, open(filename,'wb'))

In [23]:
loaded_model=pickle.load(open("finalized_model_linear.sav",'rb'))
result=loaded_model.predict([[0]])

In [24]:
result

array([[30651.4233871]])